* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
ul {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #331B3B;
}
.body_fixed {
  overflow: hidden;
}

/* font-family: 'Playfair Display', serif; */

/* font-family: 'Roboto', sans-serif; */

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
 }
 .title {

 text-align: center;
 font-size: 48px;
font-weight: 700;
line-height: 106.3%;
letter-spacing: -0.48px;

}
.text {

  font-weight: 400;
  font-size: 17px;
   line-height: 24px; /* 150% */
  letter-spacing: 0.64px;

}


@media (max-width: 961px) {
  .container {
    width: 100%;
    padding: 0 15px 0 15px;
   }
   .title {
     font-size: 45px;
    line-height: 59px;
    letter-spacing: -1.35px;
    }
    .text {
          font-size: 18px;
      line-height: 23px;
      letter-spacing: -0.54px;
   }
}


@media (max-width: 541px) {
  .container {
    padding: 0 12px 0 13px;
   }
   .title {
    font-size: 30px;
   line-height: 39px;
   letter-spacing: -0.9px;
   }
}